In [1]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv("pokemons2.csv")
df.head()

,index,name,rank,generation,evolves_from,type1,type2,hp,atk,def,spatk,spdef,speed,total,height,weight,abilities,desc
0,1,bulbasaur,ordinary,generation-i,nothing,grass,poison,45,49,49,65,65,45,318,7.0,69,overgrow chlorophyll,A strange seed was planted on its back at birt...
1,2,ivysaur,ordinary,generation-i,bulbasaur,grass,poison,60,62,63,80,80,60,405,10.0,130,overgrow chlorophyll,"When the bulb on its back grows large, it appe..."
2,3,venusaur,ordinary,generation-i,ivysaur,grass,poison,80,82,83,100,100,80,525,20.0,1000,overgrow chlorophyll,The plant blooms when it is absorbing solar en...
3,4,charmander,ordinary,generation-i,nothing,fire,NaN,39,52,43,60,50,65,309,6.0,85,blaze solar-power,"Obviously prefers hot places. When it rains, s..."
4,5,charmeleon,ordinary,generation-i,charmander,fire,NaN,58,64,58,80,65,80,405,11.0,190,blaze solar-power,"When it swings its burning tail, it elevates t..."

In [5]:
df.isnull().sum().sort_values(ascending = False)

type2           499
height            8
index             0
spatk             0
abilities         0
weight            0
total             0
speed             0
spdef             0
def               0
name              0
atk               0
hp                0
type1             0
evolves_from      0
generation        0
rank              0
desc              0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         1025 non-null   int64
 1   name          1025 non-null   object
 2   rank          1025 non-null   object
 3   generation    1025 non-null   object
 4   evolves_from  1025 non-null   object
 5   type1         1025 non-null   object
 6   type2         526 non-null    object
 7   hp            1025 non-null   int64
 8   atk           1025 non-null   int64
 9   def           1025 non-null   int64
 10  spatk         1025 non-null   int64
 11  spdef         1025 non-null   int64
 12  speed         1025 non-null   int64
 13  total         1025 non-null   int64
 14  height        1017 non-null   float64
 15  weight        1025 non-null   int64
 16  abilities     1025 non-null   object
 17  desc          1025 non-null   object
dtypes: float64(1), int64(9), object(8)
memory usage: 144.3+ KB

In [7]:
object_columns = ['height']
# Replace missing values in these columns with the most frequent value of each column
for col in object_columns:
    most_frequent = df[col].mode()[0]  # mode() returns a Series, [0] gets the most frequent element
    df[col] = df[col].fillna(most_frequent)  # Direct assignment avoids the FutureWarning

print(df)

      index          name       rank     generation evolves_from     type1  \
0         1     bulbasaur   ordinary   generation-i      nothing     grass
1         2       ivysaur   ordinary   generation-i    bulbasaur     grass
2         3      venusaur   ordinary   generation-i      ivysaur     grass
3         4    charmander   ordinary   generation-i      nothing      fire
4         5    charmeleon   ordinary   generation-i   charmander      fire
...     ...           ...        ...            ...          ...       ...
1020   1021   raging-bolt   ordinary  generation-ix      nothing  electric
1021   1022  iron-boulder   ordinary  generation-ix      nothing      rock
1022   1023    iron-crown   ordinary  generation-ix      nothing     steel
1023   1024     terapagos  legendary  generation-ix      nothing    normal
1024   1025     pecharunt   mythical  generation-ix      nothing    poison

        type2   hp  atk  def  spatk  spdef  speed  total  height  weight  \
0      poison   45   49   49     65     65     45    318     7.0      69
1      poison   60   62   63     80     80     60    405    10.0     130
2      poison   80   82   83    100    100     80    525    20.0    1000
3         NaN   39   52   43     60     50     65    309     6.0      85
4         NaN   58   64   58     80     65     80    405    11.0     190
...       ...  ...  ...  ...    ...    ...    ...    ...     ...     ...
1020   dragon  125   73   91    137     89     75    590    52.0    4800
1021  psychic   90  120   80     68    108    124    590    15.0    1625
1022  psychic   90   72  100    122    108     98    590    16.0    1560
1023      NaN   90   65   85     65     85     60    450     2.0      65
1024    ghost   88   88  160     88     88     88    600     3.0       3

                  abilities                                               desc
0     overgrow chlorophyll   A strange seed was planted on its back at birt...
1     overgrow chlorophyll   When the bulb on its back grows large, it appe...
2     overgrow chlorophyll   The plant blooms when it is absorbing solar en...
3        blaze solar-power   Obviously prefers hot places. When it rains, s...
4        blaze solar-power   When it swings its burning tail, it elevates t...
...                     ...                                                ...
1020        protosynthesis                                       Not Available
1021           quark-drive                                       Not Available
1022           quark-drive                                       Not Available
1023            tera-shift                                       Not Available
1024      poison-puppeteer                                       Not Available

[1025 rows x 18 columns]

In [8]:
df.columns

Index(['index', 'name', 'rank', 'generation', 'evolves_from', 'type1', 'type2',
       'hp', 'atk', 'def', 'spatk', 'spdef', 'speed', 'total', 'height',
       'weight', 'abilities', 'desc'],
      dtype='object')

In [11]:
df.drop(columns=['height'],inplace=True)
df.head()

,index,name,rank,generation,evolves_from,type1,type2,hp,atk,def,spatk,spdef,speed,total,weight,abilities,desc
0,1,bulbasaur,ordinary,generation-i,nothing,grass,poison,45,49,49,65,65,45,318,69,overgrow chlorophyll,A strange seed was planted on its back at birt...
1,2,ivysaur,ordinary,generation-i,bulbasaur,grass,poison,60,62,63,80,80,60,405,130,overgrow chlorophyll,"When the bulb on its back grows large, it appe..."
2,3,venusaur,ordinary,generation-i,ivysaur,grass,poison,80,82,83,100,100,80,525,1000,overgrow chlorophyll,The plant blooms when it is absorbing solar en...
3,4,charmander,ordinary,generation-i,nothing,fire,NaN,39,52,43,60,50,65,309,85,blaze solar-power,"Obviously prefers hot places. When it rains, s..."
4,5,charmeleon,ordinary,generation-i,charmander,fire,NaN,58,64,58,80,65,80,405,190,blaze solar-power,"When it swings its burning tail, it elevates t..."

In [12]:
df.isnull().sum().sort_values(ascending = False)

type2           499
index             0
def               0
abilities         0
weight            0
total             0
speed             0
spdef             0
spatk             0
atk               0
name              0
hp                0
type1             0
evolves_from      0
generation        0
rank              0
desc              0
dtype: int64

In [13]:
df.drop(columns=['def','weight'],inplace=True)
df.head()

,index,name,rank,generation,evolves_from,type1,type2,hp,atk,spatk,spdef,speed,total,abilities,desc
0,1,bulbasaur,ordinary,generation-i,nothing,grass,poison,45,49,65,65,45,318,overgrow chlorophyll,A strange seed was planted on its back at birt...
1,2,ivysaur,ordinary,generation-i,bulbasaur,grass,poison,60,62,80,80,60,405,overgrow chlorophyll,"When the bulb on its back grows large, it appe..."
2,3,venusaur,ordinary,generation-i,ivysaur,grass,poison,80,82,100,100,80,525,overgrow chlorophyll,The plant blooms when it is absorbing solar en...
3,4,charmander,ordinary,generation-i,nothing,fire,NaN,39,52,60,50,65,309,blaze solar-power,"Obviously prefers hot places. When it rains, s..."
4,5,charmeleon,ordinary,generation-i,charmander,fire,NaN,58,64,80,65,80,405,blaze solar-power,"When it swings its burning tail, it elevates t..."

In [14]:
df.columns

Index(['index', 'name', 'rank', 'generation', 'evolves_from', 'type1', 'type2',
       'hp', 'atk', 'spatk', 'spdef', 'speed', 'total', 'abilities', 'desc'],
      dtype='object')

In [15]:
df.isna().sum()

index             0
name              0
rank              0
generation        0
evolves_from      0
type1             0
type2           499
hp                0
atk               0
spatk             0
spdef             0
speed             0
total             0
abilities         0
desc              0
dtype: int64

In [16]:
object_columns = ['type2']
# Replace missing values in these columns with the most frequent value of each column
for col in object_columns:
    most_frequent = df[col].mode()[0]  # mode() returns a Series, [0] gets the most frequent element
    df[col] = df[col].fillna(most_frequent)  # Direct assignment avoids the FutureWarning

print(df)

      index          name       rank     generation evolves_from     type1  \
0         1     bulbasaur   ordinary   generation-i      nothing     grass
1         2       ivysaur   ordinary   generation-i    bulbasaur     grass
2         3      venusaur   ordinary   generation-i      ivysaur     grass
3         4    charmander   ordinary   generation-i      nothing      fire
4         5    charmeleon   ordinary   generation-i   charmander      fire
...     ...           ...        ...            ...          ...       ...
1020   1021   raging-bolt   ordinary  generation-ix      nothing  electric
1021   1022  iron-boulder   ordinary  generation-ix      nothing      rock
1022   1023    iron-crown   ordinary  generation-ix      nothing     steel
1023   1024     terapagos  legendary  generation-ix      nothing    normal
1024   1025     pecharunt   mythical  generation-ix      nothing    poison

        type2   hp  atk  spatk  spdef  speed  total              abilities  \
0      poison   45   49     65     65     45    318  overgrow chlorophyll
1      poison   60   62     80     80     60    405  overgrow chlorophyll
2      poison   80   82    100    100     80    525  overgrow chlorophyll
3      flying   39   52     60     50     65    309     blaze solar-power
4      flying   58   64     80     65     80    405     blaze solar-power
...       ...  ...  ...    ...    ...    ...    ...                    ...
1020   dragon  125   73    137     89     75    590        protosynthesis
1021  psychic   90  120     68    108    124    590           quark-drive
1022  psychic   90   72    122    108     98    590           quark-drive
1023   flying   90   65     65     85     60    450            tera-shift
1024    ghost   88   88     88     88     88    600      poison-puppeteer

                                                   desc
0     A strange seed was planted on its back at birt...
1     When the bulb on its back grows large, it appe...
2     The plant blooms when it is absorbing solar en...
3     Obviously prefers hot places. When it rains, s...
4     When it swings its burning tail, it elevates t...
...                                                 ...
1020                                      Not Available
1021                                      Not Available
1022                                      Not Available
1023                                      Not Available
1024                                      Not Available

[1025 rows x 15 columns]

In [17]:
object_columns = ['type2']
# Replace missing values in these columns with the most frequent value of each column
for col in object_columns:
    most_frequent = df[col].mode()[0]  # mode() returns a Series, [0] gets the most frequent element
    df[col] = df[col].fillna(most_frequent)  # Direct assignment avoids the FutureWarning

print(df)

      index          name       rank     generation evolves_from     type1  \
0         1     bulbasaur   ordinary   generation-i      nothing     grass
1         2       ivysaur   ordinary   generation-i    bulbasaur     grass
2         3      venusaur   ordinary   generation-i      ivysaur     grass
3         4    charmander   ordinary   generation-i      nothing      fire
4         5    charmeleon   ordinary   generation-i   charmander      fire
...     ...           ...        ...            ...          ...       ...
1020   1021   raging-bolt   ordinary  generation-ix      nothing  electric
1021   1022  iron-boulder   ordinary  generation-ix      nothing      rock
1022   1023    iron-crown   ordinary  generation-ix      nothing     steel
1023   1024     terapagos  legendary  generation-ix      nothing    normal
1024   1025     pecharunt   mythical  generation-ix      nothing    poison

        type2   hp  atk  spatk  spdef  speed  total              abilities  \
0      poison   45   49     65     65     45    318  overgrow chlorophyll
1      poison   60   62     80     80     60    405  overgrow chlorophyll
2      poison   80   82    100    100     80    525  overgrow chlorophyll
3      flying   39   52     60     50     65    309     blaze solar-power
4      flying   58   64     80     65     80    405     blaze solar-power
...       ...  ...  ...    ...    ...    ...    ...                    ...
1020   dragon  125   73    137     89     75    590        protosynthesis
1021  psychic   90  120     68    108    124    590           quark-drive
1022  psychic   90   72    122    108     98    590           quark-drive
1023   flying   90   65     65     85     60    450            tera-shift
1024    ghost   88   88     88     88     88    600      poison-puppeteer

                                                   desc
0     A strange seed was planted on its back at birt...
1     When the bulb on its back grows large, it appe...
2     The plant blooms when it is absorbing solar en...
3     Obviously prefers hot places. When it rains, s...
4     When it swings its burning tail, it elevates t...
...                                                 ...
1020                                      Not Available
1021                                      Not Available
1022                                      Not Available
1023                                      Not Available
1024                                      Not Available

[1025 rows x 15 columns]

In [18]:
df.columns

Index(['index', 'name', 'rank', 'generation', 'evolves_from', 'type1', 'type2',
       'hp', 'atk', 'spatk', 'spdef', 'speed', 'total', 'abilities', 'desc'],
      dtype='object')

In [19]:
df.isna().sum()

index           0
name            0
rank            0
generation      0
evolves_from    0
type1           0
type2           0
hp              0
atk             0
spatk           0
spdef           0
speed           0
total           0
abilities       0
desc            0
dtype: int64

In [20]:
df.shape

(1025, 15)

In [21]:
df.to_csv('output.csv', index=False)